<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h3> Encontramos <%= pluralize(@person.errors.count, "error") %> error/es en el formulario:</h3>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <h3><legend class="text-center"> <%= @title %></h3></legend>
  <div class="field form-group">
    <%= f.label :"Nombre o Razón social", class: "col-md-4 control-label" %><br>
    <%= f.text_field :name, class: "form-control", required: "true" %>
  </div>
  <div class="field form-group">
    <%= f.label :"CUIL/CUIT", class: "col-md-4 control-label" %><br>
    <%= f.text_field :code, class: "form-control", required: "true", placeholder: "Ej. 20-28564123-9" %>
  </div>
  <div class="actions form-group pull-right">
    <%= link_to "Cancelar", people_path, class:"btn btn-danger" %>
    <%= f.submit class:"btn btn-primary", value: "Guardar"%>
  </div>
<% end %>
