<div class="container-fluid">
	<div class="row">

<div class="col-md-6 col-md-offset-3">
  <table class="table table-hover table-bordered table-condensed text-center">
    <h2 class="text-center remove-margin">Listado de clientes</h2>
    <hr>
    <thead>
      <tr>
        <th class="text-center">Nombre y apellido</th>
        <th class="text-center">Edad</th>
				<th class="text-center">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% @clients.each do |cl| %>
        <tr>
          <td><%= cl.firstname %> <%= cl.lastname %></td>
          <td><%= age(cl.born) %></td>
					<td><%= link_to 'Ver', client_path(cl), class:"btn btn-sm btn-info" %>
					<%= link_to 'Editar', edit_client_path(cl), class:"btn btn-sm btn-info" %>
					<%= link_to 'Eliminar', client_path(cl), class:"btn btn-sm btn-danger",
	                    method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</div>
