<h1> Nuevo Cliente </h1>

<%= form_for :client, url: clients_path do |f| %>
  <p>
    <%= f.label :nombre %><br>
    <%= f.text_field :firstname, :required => true  %>
  </p>

  <p>
    <%= f.label :apellido %><br>
    <%= f.text_field :lastname, :required => true %>
  </p>

  <p>
    <%= f.label :'Fecha de nacimiento' %><br>
    <%= f.date_field :born_on, max: Date.today, min: Date.new(1900, 01, 01) , :required => true %>
  </p>

  <p>
    <%= f.label :Documento %><br>
    <%= f.number_field :document, min: "800000", max: "99999999", :required => true  %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
