
<div class="text-center" >
  <h3> Informaci&oacute;n de cliente </h3>
  <h5>
    <strong>Nombre:</strong>
    <%= @client.firstname %>
  </h5>

  <h5>
    <strong>Apellido:</strong>
    <%= @client.lastname %>
  </h5>

  <h5>
    <strong>Tipo y n&uacute;mero de DNI:</strong>
    <%= @client.type_document_cd %> <%= @client.number_document %>
  </h5>

  <%= link_to 'Back', clients_path, class: "btn btn-info" %>
</div>
